* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container,
main .container,
footer .container,
.hero{
     margin: 0 auto;
     padding: 0 2rem 0 2rem;
     max-width: 1280px;
 }

body {
    font-family: Arial;
}

img {
     width: 100%;
 }

 p {
     margin-bottom: 1rem;
     line-height: 150%;
 }

                    /* ======================= H O V E R ====================== */

nav a:hover, 
nav a:focus {
    background-color: black;
    color: white;
}

#projects:hover .house-link, 
#projects:focus-within .house-link {
    filter: grayscale(100%);
}

#projects:hover .house-link:hover,
#projects:focus-within .house-link:focus-within {
    filter: grayscale(0%);
}

.house-link:hover h3,
.house-link:focus-within h3{
    background-color: white;
    color:black;
}

#about button:hover,
#about button:focus {
    color: #EFEFEF;
    background-color: black;
}

.send:hover,
.send:focus {
    background-color: #EFEFEF;
    color: black;
}

                    /* ========================================================= */
                    /* |            H E A D E R        S T Y L E S             | */
                    /* ========================================================= */

.top-links li,
.architects {
    display: none;
}

header .container {
    width: 100%;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 1rem 0 1.2rem 2.5rem;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(31, 31, 31, 0.281);
}

nav a {
    padding: .5rem;
    border-radius: 10px;
}

.logo a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    letter-spacing: 3.55px;
}

.logo span {
    font-family: Verdana;
    font-weight: bold;
}

                    /* ======================= H E R O ========================= */

.hero {
    width: 100%;
    height: 148px;
    margin-top: 3.3rem;
    background-image: url("images/architect.jpg");
    background-size: cover;
    background-position: bottom;
}

.br {
    opacity: .75;
    font-weight: bold;
    font-family: Verdana;
    padding: .4rem 1rem .6rem 1rem;
    background-color: black;
}

.hero h1 {
    position: relative;
    top: 40px;
    left: 115px;
    width: 90px;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    font-size: 2.2rem;
}

                    /* ========================================================= */
                    /* |                M A I N        S T Y L E S             | */
                    /* ========================================================= */

.divider-1 {
    border-bottom: 1px solid black;
    margin: 5rem 0 2.5rem 0;
}

.divider {
    border-bottom: 1px solid black;
    margin: 4.5rem 0 1rem 0;
}

.divider h2,
.divider-1 h2 {
    margin-bottom: 1rem;
}


                    /* =================== P R O J E C T S ===================== */

#projects  {
    display: flex;
    flex-direction: column;

}

.house-link {
    margin-bottom: 1rem;
}

.house-link img {
    margin-top: -2.4rem;
}

.house-link a {
    text-decoration: none;
}

.house-link h3 {
    display: inline-block;
    position: relative;
    top: 1px;
    padding: .6rem;
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid black;
    background-color: black;
    color:white;
}

                    /* ====================== A B O U T ======================== */

.description p {
    line-height: 150%;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.profile img {
    margin-bottom: .5rem;
    filter: grayscale(75%);
}

.profile h2 {
    margin-bottom: 1rem;
}

.profile h3 {
    font-size: 1rem;
    color: rgba(107, 107, 107, 0.801);
    margin-bottom: 1rem;
}

.profile button {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: .6rem;
    margin-bottom: 2rem;

}

                    /* ==================== C O N T A C T ====================== */

#contact p {
    font-size: 1.1rem;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
    border-color: rgba(128, 128, 128, 0.418);
    border-style:solid;
    border-width: 1px;
}

::placeholder {
    color: rgba(143, 143, 143, 0.808);
    font-size: 1rem;
    padding-left: .5rem;
    font-weight: bold;
}

.send {
    border: none;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid black;
    padding: .7rem 1rem;
    margin: 1rem 0 3rem 0;
}

#contact img {
    margin-bottom: .3rem;
}

                    /* ========================================================= */
                    /* |            F O O T E R        S T Y L E S             | */
                    /* ========================================================= */

footer .container {
    height: 35px;
    background-color: black;
}

@media only screen and (min-width: 468px) { /*===================================================*/

                    /* ========================================================= */
                    /* |            H E A D E R        S T Y L E S             | */
                    /* ========================================================= */
    
    nav {
        display: flex;
        justify-content: space-between;
    }

    .top-links li,
    .architects {
        display: inline;
        font-weight: normal;
    }

    .top-links a {
        text-decoration: none;
        color: black;    
        font-size: .8rem;
        letter-spacing: 1px;
        margin-right: .5rem
    }    

}

@media only screen and (min-width: 650px) { /*=================================================*/

                    /* ========================================================= */
                    /* |            H E A D E R        S T Y L E S             | */
                    /* ========================================================= */

    .top-links a {
        font-size: 1rem;
        letter-spacing: 4px;
        margin-right: 2rem
    }

                    /* ======================= H E R O ========================= */

    .hero {
        height: 295px;
        margin-top: 3.3rem;
    }

    .hero h1 {
        top: 120px;
        left: 130px;
    }

    .architects {
        margin-left: 1rem;
    }

                    /* ========================================================= */
                    /* |                M A I N        S T Y L E S             | */
                    /* ========================================================= */

    .projects,
    .house-link {
        flex-basis: 48.5%;
    }


                    /* =================== P R O J E C T S ===================== */

    #projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }


                    /* ====================== A B O U T ======================== */

    #about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

}

@media only screen and (min-width: 960px) {/*==================================================*/

                    /* ========================================================= */
                    /* |            H E A D E R        S T Y L E S             | */
                    /* ========================================================= */

    .hero {
        height: 455px;
    }

    .hero h1 {
        left: 290px;
        top: 190px;
    }

                    /* ========================================================= */
                    /* |                M A I N        S T Y L E S             | */
                    /* ========================================================= */

    .profile,
    .house-link {
        flex-basis: 49%;
    }

}

@media only screen and (min-width: 1200px) { /*================================================*/
                    /* ========================================================= */
                    /* |            H E A D E R        S T Y L E S             | */
                    /* ========================================================= */

    .hero {
        height: 630px;
    }

    .hero h1 {
        top: 280px;
        left: 450px;
    }

                    /* ========================================================= */
                    /* |                M A I N        S T Y L E S             | */
                    /* ========================================================= */
    .profile,
    .house-link {
        flex-basis: 24%;
    }

}











